<div class="nav">
    <a routerLink="home" routerLinkActive="active">Home</a> |
    <a routerLink="contact-us" routerLinkActive="active">Contact us</a> |
    <a routerLink="about" routerLinkActive="active">About</a> |
    <a routerLink="service" routerLinkActive="active">Service</a> |
    <a routerLink="login" routerLinkActive="active">Login</a> |
    <a routerLink="template-form" routerLinkActive="active">Template Form</a> |
    <a routerLink="reactive-form" routerLinkActive="active">Reactive Form</a> |
    <a routerLink="page" routerLinkActive="active">Page Not Found</a> |
</div>

<router-outlet></router-outlet>







<!-- Value of child component : {{Cdata}} <br><br>


Parent Component : <input type="text" #Pcomponent (keyup)="0">

<app-child [Pdata]="Pcomponent.value"></app-child>

<app-child (childevent)="getdata($event)"></app-child>

<hr>-->